<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171806751686-5s7j4dquffnd9vgflifhvj4nnn41lvpl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171806751686-5s7j4dquffnd9vgflifhvj4nnn41lvpl</string>
	<key>API_KEY</key>
	<string>AIzaSyDCP04ZSkf-_nL4HdHPka839gUtMoUzFpw</string>
	<key>GCM_SENDER_ID</key>
	<string>171806751686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Authentication</string>
	<key>PROJECT_ID</key>
	<string>authentication-app-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-app-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171806751686:ios:92d66388df3fa7980210c7</string>
</dict>
</plist>